#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.titulosprincipales {
  text-align: left;
  display: block;
  padding-left: 1.5rem;
}


.logo {
  will-change: filter, transform;
  transition: filter 300ms, transform 300ms ease;
}

.logo:hover {
  filter: 
    drop-shadow(0 0 2em #e20df58c) 
    drop-shadow(0 0 1em #e20df57c) 
    drop-shadow(0 0 0.5em #ff7fff95);
  transform: scale(1.4);
}

.logo.react:hover {
  filter: 
    drop-shadow(0 0 3em #ab29bc5e) 
    drop-shadow(0 0 1.5em #ab29bc83);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.producto-img {
  transition: transform 0.3s ease;
  /* Opcional: para que no se salga del contenedor si está dentro de uno con overflow */
  display: block;
  max-width: 100%;
}

.producto-img:hover {
  transform: scale(1.05); /* agranda un 5% */
  cursor: pointer; /* opcional, para indicar que es interactiva */
}


.boton-productos {
  background-color: rgba(178, 40, 118, 0.651) !important;
  border: none !important;
  color: white !important;
}

.boton-productos:hover {
  background-color: rgba(254, 153, 211, 1); /* al 100% cuando pasás el mouse */
}


/* .boton-login{
  background-color: rgba(213, 168, 204, 0.877) !important;
  color: white !important;
  border: none !important;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
  text-decoration: none;
  display: inline-block;
}


.boton-login:hover {
  background-color: rgba(254, 153, 211, 1) !important;
  color: white !important;
} */

.nav-link {
  position: relative;
  color: #333;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fe99d3; /* rosa/transparente */
  transition: width 0.3s ease;
}

.nav-link:hover {
  color: #fe99d3;
}

.nav-link:hover::after {
  width: 100%;
}


